#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  overflow-x: hidden;
}

.app {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: space-between; /* Adjust alignment as needed */
  align-items: stretch; /* Stretch children to fill the container */
  width: 80vw;
  height: 100%;
}

.app img {
  max-width: 100%; /* Ensure images scale responsively */
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Preserve the aspect ratio within the parent container */
}

@media screen and (max-width: 768px) {
    .app {
    padding: 1rem;
  }
}